.profile-container {
  width: 550px;
  margin: auto;
  min-height: 100vh;

  .image {
    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
    }
  }

  ::ng-deep .p-button {
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #374151;
  }

  .text-error {
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
}