@import "../../@themes/variable.scss";

.order {
  .header {
    background-color: $background-color-header-card;
    .col {

    }
  }
}

.product {
  .image {
    width: 111px;
    height: 111px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
