@import "../../@themes/variable.scss";

.customer-review-container {
  width: 60%;
  margin: auto;
  padding: 3rem 0 3rem 0;
  background-color: $white;
}

@media only screen and (max-width: 1500px) {
  .customer-review-container {
    width: 90%;
  }
}