.register-container {
  width: 500px;
  margin: auto;
  height: 100vh;

  ::ng-deep .p-button {
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #374151;
  }

  .text-error {
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
}
