<div class="change-password-container flex align-items-center">
  <div class="card w-100-percent">
    <h1 class="text-align-center">Đổi mật khẩu</h1>
    <form [formGroup]="form">
      <div class="username mb-4">
        <app-base-input formControlName="old_password" type="password" placeholder="Mật khẩu cũ"
          icon="pi-lock" [errors]="[{ key: 'required', message: 'Mật khẩu cũ không được để trống'}]"></app-base-input>
      </div>
      <div class="password mb-4">
        <app-base-input formControlName="new_password" type="password" placeholder="Mật khẩu mới"
          icon="pi-lock" (onBlur)="checkPassword()" [errors]="[{ key: 'required', message: 'Mật khẩu mới không được để trống'}]"></app-base-input>
      </div>
      <div class="confirm-password mb-4">
        <app-base-input formControlName="confirm_password" type="password" placeholder="Nhập lại mật khẩu"
          icon="pi-lock" (onBlur)="checkPassword()" [errors]="[{ key: 'required', message: 'Xác nhận mật khẩu không được để trống'}, {key: 'confirmPassword', message: 'Xác nhận mật khẩu không đúng'}]"></app-base-input>
      </div>
      <p-button label="Đổi mật khẩu" type="Submit" (onClick)="submit()"/>
    </form>
  </div>
</div>
