@import '../../@themes/variable.scss';

::ng-deep .dialog-delete-container {
  .btn-group {
    .p-button {
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 1rem;

      &:focus {
        box-shadow: none;
      }
    }

    .p-button-label {
      font-weight: normal;
      font-size: 15px;
    }
  }
}

.text-danger {
  color: $color-red;
}
