<div class="breadcrumb-custom">
  <div class="breadcrum-container flex justify-content-between align-items-center">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
</div>
<div class="terms-and-service">
  <div class="content card">
    <div class="font-22-px font-weight-bold mb-3">Điều khoản và dịch vụ</div>
    <p>Xin vui lòng đọc kỹ phần này vì nó có các điều khoản và các điều kiện pháp lý mà bạn phải chấp thuận khi sử dụng
      trang web này.</p>
    <h3>Người điều hành</h3>
    <p>Trang này được điều hành bởi Thế giới giày Vũ gia</p>
    <h3>Mục đích của trang web</h3>
    <p>Mục đích của trang này nhằm cung cấp cho bạn thông tin về những sản phẩm, hỗ trợ khách hàng mua hàng và quản lý
      đơn
      hàng một cách thuận tiện.</p>
    <h3>Khả năng truy cập vào trang web</h3>
    <p>Chúng tôi đã chuẩn bị rất kỹ lưỡng cho trang web này. Tuy nhiên vì những lý do kỹ thuật nằm ngoài sự kiểm soát,
      Chúng tôi sẽ không bảo đảm rằng bạn có thể truy cập được vào trang này bất cứ lúc nào.</p>
    <h3>Thông tin tại trang web</h3>
    <p>Thông tin trên trang này chỉ nằm mục đích thông tin thông thường. Nó không nhằm vào bất cứ mục đích cụ thể nào và
      cũng không có sự đại diện hoặc bảo đảm nào cho sự chính xác và đầy đủ.</p>
    <h3>Sản phẩm và dịch vụ sẵn có</h3>
    <p>Tất cả sản phẩm và dịch vụ ở trên này đều là hàng thật và luôn sẵn có trong kho. Dịch vụ hỗ trợ đặt hàng và giao
      hàng trên web.</p>
    <h3>Từ chối bảo đảm và trách nhiệm</h3>
    <p>Đối với phạm vi đầy đủ nhất được cho phép bởi luật, tất cả sự bảo đảm (biểu hiện hoặc ẩn ý) đối với trang này,
      nội
      dung và việc sử dụng của bạn sẽ bị loại trừ. Ngoại trừ trường hợp tử vong hoặc thương tích cá nhân gây ra bởi sự
      sơ
      suất của chúng tôi, luật pháp cho phép chúng tôi loại trừ tất cả trách nhiệm với bạn trong việc bạn sử dụng trang
      web</p>
    <h3>Sự sửa đổi những điều khoản</h3>
    <p>Chúng tôi bảo lưu quyền sửa đổi các điều khoản này mà không cần thông báo với bạn mọi lúc. Việc sửa đổi sẽ có
      hiệu
      lực mỗi khi các điều khoản chỉnh sửa đã được đăng trên trang web</p>
    <h3>Luật áp dụng</h3>
    <p>Các Điều khoản này bị chi phối và sẽ được hiểu theo qui định của pháp luật Việt Nam. Mọi tranh chấp phát sinh
      hoặc
      liên quan đến các Điều khoản và Điều kiện này sẽ chịu sự xét xử của Tòa án Việt Nam.</p>
  </div>
</div>