<div class="header-container">
  <!-- Thanh trên cùng: Đăng nhập/Đăng ký -->
  <div class="header-top-bar">
    <div class="header-top-bar-content">
      <div class="hotline">Bán hàng online: <b>19002192</b></div>
      <div class="top-auth">
        @if (currentUser()) {
          <div class="user-info-top cursor-pointer" (click)="sidebarVisible = !sidebarVisible">
            <img src="../../../assets/images/IDR_PROFILE_AVATAR_27@1x.png" alt="avatar" class="avatar-img-small">
            <span class="user-name-small">{{ currentUser()?.first_name }} {{ currentUser()?.last_name }}</span>
          </div>
        } @else {
          <div class="auth-links-top">
            <a routerLink="/login" class="auth-link-top">Đăng nhập</a>
            <span class="separator-top">|</span>
            <a routerLink="/register" class="auth-link-top">Đăng ký</a>
          </div>
        }
      </div>
    </div>
  </div>

  <!-- Thanh chính: Logo | Tìm kiếm | Giỏ hàng -->
  <div class="header-main">
    <div class="header-main-content">
      <!-- Logo bên trái -->
      <div class="header-logo">
        <img src="./assets/images/vugia.png" alt="Logo" class="logo-img">
      </div>

      <!-- Thanh tìm kiếm ở giữa -->
      <div class="header-search">
        <div class="search-wrapper">
          <i class="pi pi-search search-icon"></i>
          <input 
            type="text" 
            pInputText 
            placeholder="Tìm kiếm sản phẩm..." 
            class="search-input"
            (keyup.enter)="onSearch()"
            [(ngModel)]="searchText"
          />
        </div>
      </div>

      <!-- Bên phải: Giỏ hàng -->
      <div class="header-right">
        <i class="pi pi-shopping-cart cart-icon cursor-pointer" pBadge [value]="cart()?.products?.length || 0" (click)="goCart()"></i>
      </div>
    </div>
  </div>

</div>
<p-sidebar [(visible)]="sidebarVisible" position="right" [dismissible]="false">
  <h3 class="mb-6">Xin chào {{ currentUser()?.first_name + ' '}} {{ currentUser()?.last_name }}</h3>
  <div class="menu-item-container">
    @for (item of menus; track $index) {
      <div class="menu-item flex mb-3 p-3 cursor-pointer border-1-px border-radius-6-px" [routerLink]="item.routerLink" (click)="onClick(item.command)">
        <div class="mr-2"><i [class]="item.icon"></i></div>
        <div>{{ item.label }}</div>
      </div>
    }
  </div>
</p-sidebar>
