.breadcrumb-custom {
  .breadcrum-container {
    width: 60%;
    margin: auto;
  }
}

.warranty-policy-container {
  .content {
    width: 60%;
    margin: auto;

    ul {
      padding-left: 22px;
      li {
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .breadcrumb-custom {
    .breadcrum-container {
      width: 90%;
    }
  }

  .warranty-policy-container {
    .content {
      width: 90%;
      margin: auto;
    }
  }
}