@import '../../@themes/variable.scss';

.warranty-container {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  .warranty-content {
    width: 60%;
    margin: auto;

    .item {
      .image {
        margin-right: 2rem;
      }
    }
  }

  .color-text {
    color: #bbb;
  }
}

@media only screen and (max-width: 1500px) {
  .warranty-container {
    .warranty-content {
      margin: auto;
      width: 90%;
    }
  }
}