<div class="breadcrumb-custom">
  <div class="breadcrum-container flex justify-content-between align-items-center">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
</div>
<div class="refund-policy-container">
  <div class="content card">
    <div class="font-22-px font-weight-bold mb-3">Chính sách đổi trả hàng</div>
    <div class="font-weight-bold font-20-px mb-3">1. Điều kiện đổi trả sản phẩm</div>
    <p>Khách hàng được đổi hàng trong 15 ngày tính từ ngày mua hàng in trên hoá đơn khi khách hàng không ưng ý, có nhu
      cầu đổi sang sản phẩm khác hoặc sản phẩm bị lỗi do nhà sản xuất.</p>
    <div class="mb-3">
      <b><i>Chính sách đổi hàng chỉ áp dụng đối với sản phẩm khi đủ 2 điều kiện sau:</i></b>
    </div>
    <ul class="mb-3">
      <li>Sản phẩm mua trong hệ thống cửa hàng chính thức thuộc thương hiệu Thế giới giày Vũ gia có kèm theo hoá đơn bán
        hàng
        và thông tin khách hàng trên hoá đơn.</li>
      <li>Sản phẩm chưa qua sử dụng, không bị thay đổi nguyên trạng; còn nguyên tem giá, nhãn mác, phụ kiện kèm theo.
        Sản phẩm/nhãn mác/phụ kiện không bị dơ bẩn, trầy xước, hư hỏng, rách, móp hoặc nhăn do tác động bên ngoài sau
        khi mua.</li>
    </ul>
    <div class="mb-3">
      <b><i>Với đơn hàng online, khách hàng có thể đổi sản phẩm trong các trường hợp sau:</i></b>
    </div>
    <ul>
      <li>Sản phẩm không giống hình ảnh trên website, nhà cung cấp gửi sai sản phẩm.</li>
      <li>Sản phẩm bị lỗi do nhà sản xuất, vận chuyển.</li>
      <li>Với các sản phẩm khuyến mại, Thế giới giày Vũ gia không hỗ trợ đổi trả.</li>
    </ul>
    <p>Khách hàng có thể đổi lấy sản phẩm có giá trị lớn hơn hoặc bằng sản phẩm đã mua. Trường hợp sản phẩm được chọn để
      đổi có giá trị thấp hơn sản phẩm cần đổi, khách hàng sẽ không được hoàn lại tiền thừa.</p>
    <div class="font-weight-bold font-20-px mb-3">2. Thời gian đổi sản phẩm</div>
    <ul>
      <li>Khách hàng được đổi sản phẩm trong 15 ngày kể từ ngày mua hàng.</li>
    </ul>
    <div class="font-weight-bold font-20-px mb-3">3. Chi phí vận chuyển đổi trả hàng</div>
    <ul>
      <li>Đồ da Tâm Anh miễn phí đổi hàng cho khách hàng trong trường hợp sản phẩm bị lỗi do nhà sản xuất như bóp méo
        hoặc bị trầy xước trong quá trình vận chuyển, giao nhầm.</li>
      <li>Trường hợp khách hàng muốn đổi sản phẩm vì lí do chủ quan như không ưng ý về sản phẩm, không vừa size, màu
        không phù hợp,… khách hàng vui lòng thanh toán phí vận chuyển 2 chiều trong trường hợp sản phẩm cần đổi chuyển
        về kho của Thế giới giày Vũ gia.</li>
    </ul>
    <div class="font-weight-bold font-20-px mb-3">4. Cách thức đổi trả sản phẩm</div>
    <div class="mb-3">
      <b><i>a. Với khách hàng mua tại cửa hàng</i></b>
    </div>
    <p>Khách hàng có thể gửi trực tiếp sản phẩm cần đổi trả kèm hóa đơn mua hàng đến các cửa hàng Thế giới giày Vũ gia
      trên
      toàn quốc.</p>
    <div class="mb-3">
      <b><i>b. Với khách hàng mua hàng online</i></b>
    </div>
    <p>Khách hàng gửi sản phẩm về địa chỉ: Số A, Ngõ B, Quận C, Thành phố D đồng thời liên hệ hotline: 099.9999.999 để
      được tư vấn hỗ trợ nhanh nhất.</p>
    <p>Sau khi nhận được sản phẩm, Thế giới giày Vũ gia sẽ tiến hành kiểm tra sản phẩm theo quy định đổi trả sản phẩm,
      vui lòng
      chờ 3-5 ngày để xử lý (không tính chủ nhật, ngày lễ). Chúng tôi sẽ thông báo kết quả cho khách hàng qua điện thoại
      và tin nhắn sau khi việc kiểm tra hoàn tất.</p>
    <p><b>Lưu ý: </b>Chúng tôi không chấp nhận việc khách hàng đổi hàng nếu bất kỳ sản phẩm nào đã qua sử dụng hoặc quá
      15 ngày. Các trường hợp khác ngoài Chính sách của công ty, quyết định của Thế giới giày Vũ gia sẽ là quyết định
      cuối
      cùng.</p>

    <div class="text-align-center font-weight-bold font-bold mt-3 mb-3">
      Quý khách hàng gặp bất cứ vấn đề gì có thể liên hệ trực tiếp với bộ phận chăm sóc khách hàng của Thế giới giày Vũ gia qua
      hotline 099.9999.999 hoặc email: thegioigiayvugia&#64;gmail.com để được hỗ trợ nhanh nhất.
    </div>
  </div>
</div>