<div class="custom-input-quantity flex">
  <div class="btn-decrease">
    <button
      type="button"
      pButton
      pRipple
      label="-"
      class="p-button-secondary"
      (click)="onDecease()"
    ></button>
  </div>
  <div class="btn-decease">
    <input
      type="number"
      pInputText
      [min]="min()"
      [max]="max()"
      [style]="{ width: '50px', 'text-align': 'center' }"
      [value]="value()"
      (input)="onInput($any($event).target.value)"
      class="text-center"
    />
  </div>
  <div class="btn-increase">
    <button
      type="button"
      pButton
      pRipple
      label="+"
      class="p-button-secondary"
      (click)="onIncrease()"
    ></button>
  </div>
</div>
