@import "../@themes/variable.scss";

.layout-container {
  background-color: $background-color;
  min-height: 100vh;

  .layout-sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 15rem;
    background-color: $white;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 50px #d9ddfc;
    transition: transform $transition-duration;
  }

  .layout-content-wrapper {
    padding: 1rem;
    transition: margin-left $transition-duration;
  }

  .layout-static-inactive {
    transform: translate(-100%);
  }
}

@media only screen and (max-width: 1500px) {
  .product-container {
    width: 90%;
  }

  .image {
    width: 60%;
  }
}

@media screen and (max-width: 991px) {
  .layout-container .layout-sidebar {
    z-index: 999;
    transform: translate(-100%);
    transition: transform $transition-duration;
    box-shadow: none;
  }

  .layout-container .layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
  }
}

.menu-item-container {
  .menu-item:hover {
    background-color: #f1f5f9;
  }

  .menu-item {
    display: flex;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid $border-color;
    border-radius: 6px;
  }

  .flex {
    display: flex;
  }
}
