<div class="footer-container mb">
  <div class="footer__header p-3 text-align-center font-22-px">
    Thế giới giày Vũ Gia
  </div>
  <div class="footer-content pt-4 pb-4">
    <div class="grid nike-footer-grid">
      <!-- Column 1: Resources (Nike style: "Find A Store", etc. but adapted) -->
      <div class="col-3 sm:col-12 md:col-6">
        <div class="footer-heading">Tài nguyên</div>
        <ul class="footer-links">
           <li><a routerLink="/store">Tìm cửa hàng</a></li>
           <li><a routerLink="/member">Trở thành thành viên</a></li>
           <li><a routerLink="/feedback">Gửi phản hồi</a></li>
        </ul>
      </div>

      <!-- Column 2: Help -->
      <div class="col-3 sm:col-12 md:col-6">
        <div class="footer-heading">Trợ giúp</div>
        <ul class="footer-links">
           <li><a routerLink="/shipping">Trạng thái đơn hàng</a></li>
           <li><a routerLink="/shipping-policy">Vận chuyển</a></li>
           <li><a routerLink="/returns">Trả hàng</a></li>
           <li><a routerLink="/payment">Phương thức thanh toán</a></li>
           <li><a href="tel:19002192">Liên hệ: 19002192</a></li>
        </ul>
      </div>

      <!-- Column 3: About (Vũ Gia) -->
      <div class="col-3 sm:col-12 md:col-6">
        <div class="footer-heading">Về Vũ Gia</div>
        <ul class="footer-links">
           <li><a routerLink="/about">Tin tức</a></li>
           <li><a routerLink="/careers">Tuyển dụng</a></li>
           <li><a routerLink="/investors">Nhà đầu tư</a></li>
           <li><a routerLink="/sustainability">Bền vững</a></li>
        </ul>
      </div>

      <!-- Column 4: Socials (Right aligned usually, or same column) -->
      <div class="col-3 sm:col-12 md:col-6 social-col">
        <div class="icon-group flex gap-3">
          <a href="#" target="_blank" class="social-icon"><i class="pi pi-facebook"></i></a>
          <a href="#" target="_blank" class="social-icon"><i class="pi pi-instagram"></i></a>
          <a href="#" target="_blank" class="social-icon"><i class="pi pi-twitter"></i></a>
          <a href="#" target="_blank" class="social-icon"><i class="pi pi-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
