<div class="breadcrumb-custom">
  <div class="breadcrum-container flex justify-content-between align-items-center">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
</div>
<div class="shipping-policy-container">
  <div class="content card">
    <div class="font-22-px font-weight-bold mb-3">Chính sách vận chuyển</div>
    <div class="font-weight-bold font-20-px mb-3">1. Thời gian xử lý đơn hàng để vận chuyển</div>
    <ul>
      <li>Tất các đơn hàng sẽ được bộ phận chăm sóc khách hàng gọi điện xác nhận lại thông tin đơn hàng trong vòng 24h
        kể từ khi đặt hàng.</li>
      <li>Đơn hàng sẽ được đóng gói và vận chuyển trong khoảng thời gian từ 1-2 ngày ngay sau khi xác nhận thông tin đơn
        hàng.</li>
      <li>Đơn hàng không được vận chuyển hoặc giao trong ngày chủ nhật hoặc lễ tết.</li>
      <li>Nếu quá trình xử lý đơn và vận chuyển bị gián đoạn và chậm trễ chúng tôi sẽ thông báo lại cho quý khách hàng
        qua email hoặc điện thoại.</li>
    </ul>
    <div class="font-weight-bold font-20-px mb-3">2. Thời gian làm việc</div>
    <ul>
      <li>Tất cả các ngày trong tuần từ thứ 2 đến thứ 7.</li>
    </ul>
    <div class="font-weight-bold font-20-px mb-3">3. Phí vận chuyển</div>
    <ul>
      <li>Miễn ship đơn hàng COD qua các đơn vị vận chuyển</li>
      <li>Thanh toán 50% phí ship với đơn hàng dưới 1.000.000 VNĐ giao trong ngày trong nội thành Hà Nội và TPHCM</li>
    </ul>
    <div class="font-weight-bold font-20-px mb-3">4. Thời gian vận chuyển</div>
    <ul>
      <li>24h đối với đơn hàng tại nội thành Hà Nội</li>
      <li>Từ 3-5 ngày với những đơn đặt hàng từ các Tỉnh, Thành phố khác</li>
      <li>Thời gian giao hàng có thể lâu hơn dự kiến ​​trong những trường hợp bất khả kháng ngoài tầm kiểm soát của
        chúng tôi như: đình công, thiên tai hoặc lũ lụt nghiêm trọng…</li>
      <li>Khi đơn hàng giao muộn hơn so với thời gian dự kiến, liên hệ với bộ phận chăm sóc khách hàng Thế giới giày Vũ
        gia qua
        Hotline: 099.9999.999, chúng tôi sẽ kiểm tra và xử lý vấn đề này trong 1-2 ngày làm việc tiếp theo.</li>
    </ul>
    <div class="font-weight-bold font-20-px mb-3">5. Những lưu ý khi nhận hàng</div>
    <ul>
      <li>Thế giới giày Vũ gia khuyến khích quý khách hàng kiểm tra tình trạng bên ngoài của kiện hàng và sản phẩm trước
        khi
        thanh toán để đảm bảo sản phẩm được giao đúng chủng loại, số lượng, màu sắc theo đơn đặt hàng và tình trạng bên
        ngoài không bị tác động (rách, trầy xước, móp, nhăn). Khi phát hiện sản phẩm gặp vấn đề hãy ký xác nhận tình
        trạng sản phẩm với Nhân viên giao nhận và thông báo ngay cho bộ phận chăm sóc khách hàng của Đồ da Tâm Anh qua
        hotline 099.9999.999 hoặc email: thegioigiayvugia&#64;gmail.com để được xử lý kịp thời.</li>
      <li>Dịch vụ vận chuyển của Thế giới giày Vũ gia sẽ chịu trách nhiệm với sản phẩm và các rủi ro như mất mát hoặc hư
        hại
        của sản phẩm trong suốt quá trình vận chuyển từ kho hàng Thế giới giay Vũ gia đến khách hàng.</li>
      <li>Khi sản phẩm được giao tới, sản phẩm phải còn nguyên đai, nguyên kiện, còn niêm phong, chưa có dấu hiệu bóc
        mở,… đầy đủ chứng từ của Thế giới giay Vũ gia, nếu khách hàng thấy bất thường có thể từ chối nhận hàng và liên
        hệ ngay
        bộ phận chăm sóc khách hàng của Thế giới giày Vũ gia qua hotline 099.9999.999 hoặc email:
        thegioigiayvugia&#64;gmail.com để được
        xử lý nhanh nhất..</li>
      <li>Thế giới giày Vũ gia cam kết tất cả sản phẩm gửi đến khách hàng theo đơn đặt hàng đều là hàng chính hãng, mới 100% và
        được bảo hành chính hãng theo chính sách của công ty.</li>
    </ul>
  </div>
</div>