<div class="breadcrumb-custom">
  <div class="breadcrum-container flex justify-content-between align-items-center">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
</div>
<div class="warranty-policy-container">
  <div class="content card">
    <div class="font-22-px font-weight-bold mb-3">Chính sách bảo hành sản phẩm</div>
    <div class="font-weight-bold font-20-px mb-3">Đồ Da Tâm Anh cam kết với quý khách hàng về bảo hành sản phẩm như sau
    </div>
    <ul class="mb-3">
      <li>Bảo trì sản phẩm trọn đời với các quá trình làm mới, làm sạch, làm bóng, làm mềm sản phẩm</li>
      <li>Bảo hành miễn phí đến 12 tháng nếu lỗi do nhà sản xuất.</li>
      <li>Nếu sản phẩm phát sinh hư hại do khách hàng hoặc hết thời hạn bảo hành công ty sẽ hỗ trợ bảo hành tính phí ưu
        đãi.</li>
    </ul>
    <div class="font-weight-bold font-18-px mb-3">1. Quy định bảo hành</div>
    <p>Khắc phục những lỗi hỏng hóc, sự cố kỹ thuật xảy ra do lỗi của nhà sản xuất trong thời hạn bảo hành và hỗ trợ
      khắc phục hư hại phát sinh trong quá trình sử dụng của khách hàng.</p>
    <div class="font-weight-bold font-20-px mb-3">2. Điều kiện bảo hành</div>
    <div class="mb-3">
      <i>Sản phẩm được bảo hành miễn phí:</i>
    </div>
    <p>– Nếu sản phẩm đó còn thời hạn bảo hành được tính kể từ ngày mua hàng được ghi trên hóa đơn bán lẻ theo quy định
      của từng sản phẩm</p>
    <p>– Tất cả các sự cố về mặt kỹ thuật của nhà sản xuất</p>
    <p>– Lớp keo dán, keo ép nhiệt bị bong, logo bị hỏng</p>
    <p>– Có hóa đơn bán hàng (phiếu bảo hành) với đủ thông tin như số hóa đơn, mã số sản phẩm, ngày mua hàng, thời hạn
      bảo hành, chữ ký của nhân viên bán hàng, thông tin khách hàng trên hóa đơn (tên, số điện thoại).</p>
    <div class="mb-3">
      <i>Sản phẩm được hỗ trợ bảo hành tính phí ưu đãi:</i>
    </div>
    <p>– Khách hàng còn giữ hóa đơn bán hàng (phiếu bảo hành) nguyên vẹn với đầy đủ thông tin như: số hóa đơn, mã số sản
      phẩm, ngày mua, thời hạn bảo hành, chữ kí nhân viên và thông tin khách hàng trên hóa đơn (tên, số điện thoại)</p>
    <div class="font-weight-bold font-18-px mb-3">3. Những trường hợp không được bảo hành</div>
    <p>– Không nhận các sản phẩm đã quá cũ ( da và đế bị lão hóa, không còn độ bám dính của keo, chỉ hoặc ko có phụ kiện
      để thay thế).</p>
    <p>- Những thiệt hại trong quá trình sử dụng: sản phẩm bị rách, trầy xước do người sử dụng (va quệt, rạch, co kéo,
      đựng quá nặng…), phụ kiện bị hỏng va đập hoặc làm mất, bị hao mòn hoặc cháy trong quá trình sử dụng, hoặc do môi
      trường gây ra…</p>
    <p>– Sản phẩm bị biến dạng, giảm giá, hoặc không có phiếu bảo hành.</p>
    <div class="mb-3">
      <b>Lưu ý: </b>Các sản phẩm không thuộc diện bảo hành nếu sửa chữa được thì Quý khách vui lòng thanh toán
      phí sửa chữa và phí vận chuyển.
    </div>
    <div class="font-weight-bold font-18-px mb-3">4. Quy trình tiếp nhận bảo hành và sửa chữa sản phẩm</div>
    <div class="mb-2">
      <i>a. Quy trình giao nhận sản phẩm</i>
    </div>
    <p>– Với các khách hàng ở Hà Nội, vui lòng mang sản phẩm lỗi tới cửa hàng, NVBH sẽ kiểm tra đánh giá, xác định
      nguyên nhân lỗi, và thông báo KH về hạn mức bảo hành và dự trù chi phí (nếu có).</p>
    <p>– Với các khách hàng không ở Hà Nội, Khách hàng liên hệ với nhân viên chăm sóc khách hàng thông báo về tình trạng
      sản phẩm, gửi hình ảnh vào mail, Face book. Sau khi xác nhận về lỗi SP, CSKH thông báo với khách hàng về hạn mức
      bảo hành và dự trù chi phí (nếu có), mời khách hàng chuyển về bộ phận bảo hành để xử lý.</p>
    <p>– Đối với sản phẩm đã qua sử dụng, Thế giới giày Vũ gia sẽ xem xét và khắc phục trong vòng 3 đến 10 ngày làm việc
      (không
      bao gồm Thứ 7, Chủ nhật và các ngày nghỉ lễ, Tết).</p>
    <p>– Thế giới giày Vũ gia liên hệ lại với bạn, đặt lịch hẹn trả sản phẩm và chi phí ( nếu có). Sản phẩm sau khi bảo hành sẽ gửi
      về đia chỉ bạn yêu cầu.</p>
    <p>– Trong vòng 1 tuần sau đó, Tâm Anh sẽ liên hệ lại để hỏi tình trạng sản phẩm sau sửa chữa.</p>
    <div class="mb-2">
      <i>b. Địa điểm tiếp nhận</i>
    </div>
    <p>Quý khách vui lòng mang/gửi sản phẩm đến các chi nhánh của Thế giới giày Vũ gia để được bảo hành và bảo dưỡng.</p>

    <div class="text-align-center font-weight-bold font-bold mt-3 mb-3">
      Quý khách hàng gặp bất cứ vấn đề gì có thể liên hệ trực tiếp với bộ phận chăm sóc khách hàng của Thế giới giày Vũ
      gia qua
      hotline 099.9999.999 hoặc email: thegioigiayvugia&#64;gmail.com để được hỗ trợ nhanh nhất.
    </div>
  </div>
</div>