.order-detail-container {
  width: 60%;
  margin: auto;

  .list-product {
    .item {
      .image {
        width: 180px;
        height: 180px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .detail {
        width: calc(100% - 180px);
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .order-detail-container {
    width: 90%;
    margin: auto;
  }
}