<div class="warranty-container pt-4 pb-4">
  <div class="warranty-content flex">
    <div class="item flex sm:col-12 md:col-4 xl:col-4">
      <div class="image">
        <img src="../../../assets/images/icon-commit.png" alt="">
      </div>
      <div class="content">
        <div class="font-weight-bold mb-3">Bảo hành 12 tháng</div>
        <div class="color-text">Với tất cả các sản phẩm được bán tại Thế giới giày Vũ gia</div>
      </div>
    </div>
    <div class="item flex sm:col-12 md:col-4 xl:col-4">
      <div class="image">
        <img src="../../../assets/images/icon-transport.png" alt="">
      </div>
      <div class="content">
        <div class="font-weight-bold mb-3">Miễn phí vận chuyển trên Toàn quốc</div>
        <div class="color-text">Với mọi đơn hàng</div>
      </div>
    </div>
    <div class="item flex sm:col-12 md:col-4 xl:col-4">
      <div class="image">
        <img src="../../../assets/images/icon-refund.png" alt="">
      </div>
      <div class="content">
        <div class="font-weight-bold mb-3">Đền gấp 10 giá trị đơn hàng</div>
        <div class="color-text">Nếu quý khách phát hiện sản phẩm không phải là hàng thật</div>
      </div>
    </div>
  </div>
</div>