@import './mixin.scss';
@import './variable.scss';
@include class-pd-mr-px(1000);

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

// .p-sidebar-mask {
//   display: none;
// }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.project-shoe {
  font-size: $font-size !important;
  font-weight: 400;
  background-color: $background-color;

  .p-progress-spinner {
    width: 130px;
    height: 130px;
  }

  .p-d-flex {
    display: flex;
  }

  .p-ai-center {
    align-items: center;
  }

  .text-align-right {
    text-align: right;
  }

  .p-badge {
    font-weight: 400;
    min-width: 1.0rem;
    height: 1.0rem;
    line-height: 1.0rem;
  }

  .font-weight-700 {
    font-weight: 700 !important;
  }

  .font-weight-500 {
    font-weight: 500 !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .grid {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .p-breadcrumb {
    background: $background-color;
    border: 0px;
    padding: 1rem;
  }

  .card {
    background: $white;
    border: 1px solid $border-card;
    padding: 1rem;
    box-shadow: $box-shadow-card;
    border-radius: 6px;
    // margin-bottom: 1rem;
  }

  .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: $primary-color;
  }

  .p-paginator {
    background-color: $background-color;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-align-center {
    text-align: center;
  }

  .text-align-end {
    text-align: end;
  }

  .border-1-px {
    border: 1px solid $border-color;
  }

  .border-2-px {
    border: 2px solid $border-color;
  }

  .border-bottom-1-px {
    border-bottom: 1px solid $border-color;
  }

  .border-right-1-px {
    border-right: 1px solid $border-color;
  }

  .border-top-1-px {
    border-top: 1px solid $border-color;
  }

  .p-inputtext {
    // padding: 0.5rem;
    width: 100% !important;
    font-size: $font-size;
  }

  .p-calendar {
    width: 100%;
  }

  .p-password {
    width: 100%;
  }

  .p-icon-field-left>.p-inputtext {
    padding-left: 2.5rem;
  }

  .p-inputtext:enabled:focus {
    box-shadow: none;
  }

  input {
    font-size: $font-size;
  }

  input::placeholder {
    font-size: $font-size-placeholder;
  }

  p-inputnumber {
    width: 100%;
  }

  .p-multiselect {
    width: 100%;
  }

  .p-multiselect.p-multiselect-chip .p-multiselect-token {
    // padding: 0.1rem 0.5rem;
    font-size: 14px;
  }

  // .p-button.p-button-secondary,
  // .p-button-group.p-button-secondary>.p-button,
  // .p-splitbutton.p-button-secondary>.p-button {
  //   color: $primary-color;
  //   background: $white;
  //   border: 1px solid $border-color;
  // }

  label {
    padding-bottom: 0.5rem;
  }

  .p-button {
    // color: #ffffff;
    // background: $primary-color;
    // border: 1px solid $primary-color;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    // transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    // border-radius: 6px;
    // outline-color: transparent;
    // width: 100%;
  }

  .p-button-label {
    font-weight: normal;
    font-size: 15px;
  }

  .p-button:focus {
    box-shadow: none;
  }

  .project-shoe .p-button:focus {
    box-shadow: none;
  }

  // .p-button:not(:disabled):active {
  //   background: $background-color-button-active;
  //   color: #ffffff;
  //   border-color: $background-color-button-active;
  // }

  .p-button:focus {
    box-shadow: none;
  }

  .p-button:focus {
    box-shadow: none;
  }

  // .p-button:not(:disabled):hover {
  //   background: $background-color-button-hover;
  //   color: #ffffff;
  //   border-color: $background-color-button-hover;
  // }

  .p-button:focus-visible {
    box-shadow: none;
  }

  // .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  //   border-color: $primary-color;
  // }

  // .p-checkbox .p-checkbox-box.p-highlight {
  //   border-color: $primary-color;
  //   background: $primary-color;
  // }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    box-shadow: none;
  }

  .p-multiselect .p-multiselect-label.p-placeholder {
    font-size: $font-size-placeholder;
  }

  .p-multiselect .p-multiselect-label {
    // padding: 0.5rem 0.5rem;
  }

  // .p-button.p-button-danger.p-button-text, .p-button-group.p-button-danger > .p-button.p-button-text, .p-splitbutton.p-button-danger > .p-button.p-button-text {
  //   color: #ef4444;
  // }

  // .p-button.p-button-danger, .p-button-group.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button {
  //   color: #ffffff;
  //   background: #ef4444;
  //   border: 1px solid #ef4444;
  // }

  .p-datatable .p-datatable-tbody>tr>td {
    border-width: 0 0 1px 0;
    padding: 0;
  }

  // p-dropdown {
  //   &.ng-invalid.ng-touched {
  //     ::ng-deep .p-dropdown {
  //       border-color: red;
  //     }
  //   }
  // }

  p-dropdown.ng-touched.ng-invalid > .p-dropdown {
    border-color: #e24c4c;
  }

  .position-absolute {
    position: absolute;
  }

  .text-error {
    color: $color-red;
    font-size: 12px;
    margin-top: 3px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
  }

  .disable-scroll .ui-dialog-content {
    overflow: hidden !important;
  }

  .p-datatable {
    .p-datatable-wrapper {
      overflow: visible;

      table td {
        padding: 0.5rem;
      }
    }
  }

  .line-through {
    text-decoration: line-through !important;
  }
}
