$white: #ffffff;
// $primary-color: #ddba76;
// $primary-color: #8b5cf6;
$primary-color: #3B82F6;
$border-color: #e6e6e6;
$background-color-breadcrumb: #f5f5f5;
$background-color: #f9fafb;
$border-card: #dfe7ef;
$box-shadow-card: 0px 4px 30px rgba(221, 224, 255, .54);
$background-color-hover-size: #f3f4f6;
$background-color-button-active: #6d28d9;
$background-color-button-hover: #7c3aed;
$transition-duration: 0.2s;
$font-size: 15px;
$font-size-placeholder: 14px;
$background-color-header-card: #f3f4f6;
$color-red: #e24c4c;
$background-hover: #f1f5f9;
