<div class="footer-container mb">
  <div class="footer__header p-3 text-align-center font-22-px">
    Thế giới giày Vũ Gia
  </div>
  <div class="footer-content pt-4 pb-4">
    <div class="grid">
      <div class="col-4 sm:col-12 md:col-12 lg:col-12 xl:col-4">
        <div class="font-18-px font-weight-bold mb-3">Dịch vụ</div>
        <div class="divider mb-3"></div>
        <div class="mb-3"><a routerLink="/terms-and-service">Điều khoản và dịch vụ</a></div>
        <div class="mb-3"><a routerLink="/guide-shopping">Hướng dẫn mua hàng</a></div>
        <!-- <div class="mb-3"><a>Phương thức thanh toán</a></div> -->
      </div>
      <div class="col-4 sm:col-12 md:col-12 lg:col-12 xl:col-4">
        <div class="font-18-px font-weight-bold mb-3">Chính sách</div>
        <div class="divider mb-3"></div>
        <div class="mb-3"><a routerLink="/shipping-policy">Chính sách vận chuyển</a></div>
        <div class="mb-3"><a routerLink="/refund-policy">Chính sách đổi trả hàng</a></div>
        <div class="mb-3"><a routerLink="/warranty-policy">Chính sách bảo hành sản phẩm</a></div>
      </div>
      <div class="col-4 sm:col-12 md:col-12 lg:col-12 xl:col-4">
        <div class="font-18-px font-weight-bold mb-3">Theo dõi chúng tôi</div>
        <div class="divider mb-3"></div>
        <div class="mb-3">
          <a href="tel:0123456789" title="Fax: 0123456789"><i class="mr-2 pi pi-phone"></i>099.9999.999</a>
        </div>
        <div class="mb-3"><a href="mailto:thegioigiayvugia@gmail.com" title="Mail : thegioigiayvugia@gmail.com"><i class=" mr-2 pi pi-envelope "></i>vugia&#64;gmail.com</a></div>
        <div class="mb-3"><i class=" mr-2 pi pi-map-marker"></i>Số A, Ngõ B, Quận C, Thành phố D</div>
        <div class="icon-group flex">
          <div class="icon"><a href="/" target="_blank"><i class="pi pi-facebook font-22-px mr-2"></i></a></div>
          <div class="icon"><a href="/" target="_blank"><i class="pi pi-instagram font-22-px mr-2"></i></a></div>
          <div class="icon"><a href="/" target="_blank"><i class="pi pi-pinterest font-22-px mr-2"></i></a></div>
          <div class="icon"><a href="/" target="_blank"><i class="pi pi-twitter font-22-px"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
