@import '../../@themes/variable.scss';

.footer-container {
  background-color: $background-hover;
  .footer__header {
    border-bottom: 1px solid $border-color;
  }

  .footer-content {
    width: 60%;
    margin: auto;

    a {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      color: $primary-color;
    }
  }

  .divider {
    height: 3px;
    width: 80px;
    background-color: $primary-color;
  }
}

@media only screen and (max-width: 1500px) {
  .footer-container {
    .footer-content {
      width: 90%;
    }
  }
}
