.loading-container {
  min-height: 100vh;
  height: 100%;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
  left: 0;
  overflow-anchor: none;

  .loading-background {
    height: 100vh;
    background-color: rgba(51,51,51, 0.8);

    .loading-spinner {
      min-height: 100vh;
    }

    .pi-spinner {
      color: #fff;
    }
  }
}
