.payment-container {
  width: 60%;
  margin: auto;

  .list-product {
    .item {
      .image {
        width: 110px;
        height: 110px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .detail {
        width: calc(100% - 110px);
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .payment-container {
    width: 90%;
    margin: auto;
  }
}