<div class="layout-sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <i class="pi pi-box"></i>
      <span>SHOE ADMIN</span>
    </div>
  </div>
  <div class="layout-menu-container">
    <div class="menu-category">Menu Chính</div>
    <ul class="list-none">
      <li>
        <a pRipple routerLink="/admin" routerLinkActive="isActive" [routerLinkActiveOptions]="{ exact: true }">
          <i class="pi pi-th-large"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a pRipple routerLink="/admin/bill-management" routerLinkActive="isActive">
          <i class="pi pi-receipt"></i>
          <span>Quản lý đơn hàng</span>
        </a>
      </li>
    </ul>

    <div class="menu-category">Sản phẩm & Kho</div>
    <ul class="list-none">
      <li>
        <a pRipple routerLink="/admin/product-management" routerLinkActive="isActive">
          <i class="pi pi-box"></i>
          <span>Sản phẩm</span>
        </a>
      </li>
      <li>
        <a pRipple routerLink="/admin/category-management" routerLinkActive="isActive">
          <i class="pi pi-tags"></i>
          <span>Danh mục</span>
        </a>
      </li>
      <li>
        <a pRipple routerLink="/admin/warehouse-management" routerLinkActive="isActive">
          <i class="pi pi-inbox"></i>
          <span>Quản lý kho</span>
        </a>
      </li>
      <li>
        <a pRipple routerLink="/admin/import-coupon-management" routerLinkActive="isActive">
          <i class="pi pi-file-import"></i>
          <span>Phiếu nhập</span>
        </a>
      </li>
      <li>
        <a pRipple routerLink="/admin/supplier-management" routerLinkActive="isActive">
          <i class="pi pi-truck"></i>
          <span>Nhà cung cấp</span>
        </a>
      </li>
    </ul>

    <div class="menu-category">Hệ thống</div>
    <ul class="list-none">
      <li>
        <a pRipple routerLink="/admin/user-management" routerLinkActive="isActive">
          <i class="pi pi-users"></i>
          <span>Người dùng</span>
        </a>
      </li>
      <li>
        <a pRipple routerLink="/admin/promotion-program" routerLinkActive="isActive">
          <i class="pi pi-percentage"></i>
          <span>Khuyến mãi</span>
        </a>
      </li>
    </ul>
  </div>
</div>
