@import "../../@themes/variable.scss";

.product-container {
  width: 60%;
  margin: auto;

  .image {
    width: 50%;
  }

  .product-overview {
    width: 50%;

    .product-info {
      padding: 1rem;
      background: $background-color;
      border-radius: 6px;
      border: 1px solid $border-color;
      display: block;
      visibility: visible;

      .info-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        .info-label {
          color: #374151;
          font-size: 14px;
          min-width: 80px;
          font-weight: 600;
        }

        .info-value {
          color: #1f2937;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .price-and-review-block {
      .price {
        color: $primary-color;
      }
    }

    .size {
      .size-list {
        .size-item {
          text-align: center;
          border: 1px solid $border-color;
        }

        .size-item:hover {
          background-color: $background-color-hover-size;
        }

        .active {
          color: $primary-color;
          border: 1px solid $primary-color;
          transition-duration: 0.15s;
        }
      }
    }
  }
}

.product-others {
  width: 60%;
  margin: auto;
}

.disable-size {
  background-color: #f3f4f6;
}

.disable-pointer {
  cursor: no-drop !important;
  pointer-events: none;
}

@media only screen and (max-width: 1500px) {
  .product-container {
    width: 90%;
  }

  .product-others {
    width: 90%;
  }

  .image {
    width: 60%;
  }
}
