<div class="breadcrumb-custom">
  <div class="breadcrum-container flex justify-content-between align-items-center">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
</div>
<div class="guide-shopping-container">
  <div class="content card">
    <div class="font-22-px font-weight-bold mb-3">Hướng dẫn mua hàng</div>
    <p>Để mua hàng online và mang lại trải nghiệm tốt nhất khi dùng web bạn nên đăng nhập hoặc đăng ký để tạo tài khoản
      trên web</p>
    <p>Việc đăng nhập cũng thuận tiện cho chúng tôi lưu trữ thông tin và giỏ hàng của bạn mỗi khi bạn quay lại đây mua
      sắm.</p>
    <h3>Các bước mua hàng online:</h3>
    <h3>Bước 1: Tìm sản phẩm bạn muốn mua</h3>
    <p>– Tìm qua “danh mục sản phẩm”.</p>
    <p>Nếu bạn không xác định ngay sản phẩm cần mua có thể tìm sản phẩm mong muốn bằng cách duyệt các Menu lớn của
      Thế giới giày Vũ gia. Sau đó có thể chọn cho
      mình những sản phẩm ưng ý nhất</p>
    <h3>Bước 2: Thêm sản phẩm vào giỏ hàng hoặc đặt hàng luôn</h3>
    <p>Khi đã chọn được sản phẩm ưng ý với số lượng và size, lúc này bạn sẽ có 2 lựa chọn:</p>
    <p>Lựa chọn 1: Chọn thanh toán để tiến hành đặt hàng luôn. Lúc này hệ thống sẽ chuyển thẳng đến trang thanh toán để
      tiến hành đặt hàng.</p>
    <p>Lựa chọn 2: Chọn thêm vào giỏ hàng và tiếp tục xem và chọn lựa các sản phẩm khác.</p>
    <p>Bạn có thể xem giỏ hàng bằng cách bấm vào biểu tượng “Giỏ hàng” ở góc phải trên cùng website sau khi đã đăng
      nhập.</p>
    <h3>Bước 3: Tiến hành đặt hàng</h3>
    <p>Bạn vào giỏ hàng và chọn các sản phẩm cần thanh toán và tiến hành đặt hàng. Hệ thống sẽ chuyển sang trang thanh
      toán.</p>
    <p>Tại đây bạn sẽ kiểm tra là số lượng sản phẩm và thông tin địa chỉ giao hàng. Sau khi chắc chắn bạn chỉ cần tiến
      hành đặt hàng.</p>
    <p>Sau khi hệ thống báo đặt hàng thành công, nhân viên của chúng tôi sẽ liên hệ với bạn để xác nhận lại đơn hàng.
    </p>
    <p>Sau khi xác nhận thành công, chúng tôi sẽ chuẩn bị hàng và giao cho bạn trong thời gian sớm nhất.</p>
    <h3>Mua hàng offline</h3>
    <p>Để mua hàng offline, bạn chỉ cần đến cửa hàng của chúng tôi tại Số A, Ngõ B, Quận C, Thành phố D để mua hàng.</p>
  </div>
</div>